<?xml version='1.0' encoding='utf-8'?>
<Context privileged='true'>

	<!-- Default set of monitored resources -->
	<WatchedResource>WEB-INF/conf/web.xml</WatchedResource>

	<Resource name="jdbc/nrms_ds" auth="Container" type="javax.sql.DataSource"
		driverClassName="oracle.jdbc.OracleDriver" url="jdbc:oracle:thin:@192.168.0.204:1521:xcom"
		username="t_nrms" password="t_nrms" maxActive="20" maxIdle="30"
		maxWait="10000" />
	<Loader delegate="true" />

	<Realm className="org.apache.catalina.realm.MemoryRealm" />
</Context>  