<!DOCTYPE html>
<html lang='en' ng-app='Obelix'>
  <head>
    <meta charset='utf-8'>
    <title>Obelix</title>
    <link href="stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="javascripts/app.js" type="text/javascript"></script>
  </head>
  <body ng-controller='DevicesCtrl'>
    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='brand' href='#'>Obelix</a>
          <button class='btn btn-info' ng-class='{hidden:selectedProperties.length == 0}' ng-click='createGroup()'>New Group</button>
        </div>
      </div>
    </div>
    <div class='container'>
      <ul class='thumbnails'>
        <li class='span4' ng-repeat='device in devices'>
          <div class='thumbnail device' ng-class='{fetching:device.fetching}'>
            <div class='header'>
              <label class='autofetch'>
                <input ng-change='device.fetch()' ng-model='device.autofetching' type='checkbox'>
                <div></div>
              </label>
              <a class='name' href='{{device.url}}' target='_blank'>
                {{device.name}}
              </a>
            </div>
            <div class='form-horizontal'>
              <div class='control-group property bool' ng-class='{groupcomm: bool.groupcomm, selected:bool.selected}' ng-click='selectProperty(bool)' ng-repeat="bool in device.properties | filter: {type: 'bool'}">
                <label class='control-label'>{{bool.name}}</label>
                <div class='controls'>
                  <input ng-change='device.update(bool)' ng-checked='bool.value' ng-disabled='bool.readonly' ng-model='bool.value' type='checkbox'>
                </div>
              </div>
              <div class='control-group property numeric' ng-class='{groupcomm: numeric.groupcomm, selected:numeric.selected}' ng-click='selectProperty(numeric)' ng-repeat='numeric in device.properties | filter: {numeric: true}'>
                <label class='control-label'>{{numeric.name}}</label>
                <div class='controls'>
                  <div class='numeric-value'>
                    <input class='input-mini' ng-change='device.update(numeric)' ng-disabled='numeric.readonly' ng-model-onblur ng-model='numeric.value' type='text'>
                  </div>
                </div>
              </div>
              <div class='control-group property enum' ng-repeat="enum in device.properties | filter: {type: 'enum'}">
                <label class='control-label'>{{enum.name}}</label>
                <div class='controls'>
                  <select class='select-mini' ng-change='device.update(enum)' ng-model='enum.value' ng-options='x for x in enum.range'></select>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
