!!!
%html(ng-app="Obelix" lang="en")
  %head
    %meta(charset="utf-8")
    %title Obelix
    = stylesheet_link_tag "app.css"
    = javascript_include_tag "app.js"
  %body(ng-controller="DevicesCtrl")
    / .navbar.navbar-fixed-top
    /   .navbar-inner
    /     .container
    /       %a.brand(href="#") Obelix
    .container
      .row#toolbar
        %span.title Obelix
        %button.btn(ng-click="createGroup()") Group
      %ul.thumbnails
        %li.span4(ng-repeat="device in devices")
          .thumbnail.device(ng-class="{fetching:device.fetching}")
            .header
              %label.autofetch
                %input(type="checkbox" ng-model="device.autofetching" ng-change="device.fetch()")
                %div
              %a.name(href="{{device.url}}" target="_blank")
                {{device.name}}
            .form-horizontal
              .control-group.property.bool(ng-repeat="bool in device.properties | filter: {type: 'bool'}" ng-click="selectProperty(bool)" ng-class="{groupcomm: bool.groupcomm, selected:bool.selected}")
                %label.control-label {{bool.name}}
                .controls
                  %input(type="checkbox" ng-checked="bool.value" ng-disabled="bool.readonly" ng-model="bool.value" ng-change="device.update(bool)")
              .control-group.property.numeric(ng-repeat="numeric in device.properties | filter: {numeric: true}" ng-click="selectProperty(numeric)" ng-class="{groupcomm: numeric.groupcomm, selected:numeric.selected}")
                %label.control-label {{numeric.name}}
                .controls
                  .numeric-value
                    %input.input-mini(ng-model="numeric.value" type="text" ng-model-onblur ng-disabled="numeric.readonly" ng-change="device.update(numeric)")
              .control-group.property.enum(ng-repeat="enum in device.properties | filter: {type: 'enum'}")
                %label.control-label {{enum.name}}
                .controls
                  %select.select-mini(ng-model="enum.value" ng-options="x for x in enum.range" ng-change="device.update(enum)")