!!!
%html(ng-app="Obelix" lang="en")
  %head
    %meta(charset="utf-8")
    %title Obelix
    = stylesheet_link_tag "app.css"
    = javascript_include_tag "app.js"
  %body(ng-controller="DevicesCtrl")
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="#") Obelix
          %ul.nav
            %li
              %a(href="#groups" data-toggle="modal") 
                Groups
                %span.badge(ng-show="groupCount() > 0" ng-bind="groupCount()")
          %button.btn.btn-info(ng-click="createGroup()" ng-class="{hidden:selectedProperties.length == 0}") New Group  
    .container
      #groups.modal.hide.fade(tabindex="-1")
        .modal-header
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          %h3 Groups
        .modal-body
          %ul(ng-repeat="group in groups")
            %li 
              {{group.ipv6()}}
              %button.btn(ng-click="destroyGroup(group.id)") Destroy
              %ul(ng-repeat="p in group.properties")
                %li {{p.url()}}
      %ul.thumbnails
        %li.span4(ng-repeat="device in devices")
          .thumbnail.device(ng-class="{fetching:device.fetching}")
            .header
              %label.autofetch
                %input(type="checkbox" ng-model="device.autofetching" ng-change="device.fetch()")
                %div
              %a.name(href="{{device.url}}" target="_blank")
                {{device.name}}
            .form-horizontal
              .control-group.property.bool(ng-repeat="bool in device.properties | filter: {type: 'bool'}")
                %label.control-label {{bool.name}}
                .controls
                  %input(type="checkbox" ng-checked="bool.value" ng-disabled="bool.readonly" ng-model="bool.value" ng-change="device.update(bool)")
                  .groupcomm(ng-click="selectProperty(bool)" ng-class="{selected:bool.selected, hidden:!bool.groupcomm}")
              .control-group.property.numeric(ng-repeat="numeric in device.properties | filter: {numeric: true}")
                %label.control-label {{numeric.name}}
                .controls
                  %input.input-mini(ng-model="numeric.value" type="text" ng-model-onblur ng-disabled="numeric.readonly" ng-change="device.update(numeric)")
                  .groupcomm(ng-click="selectProperty(numeric)" ng-class="{selected:numeric.selected, hidden:!numeric.groupcomm}")
              .control-group.property.enum(ng-repeat="enum in device.properties | filter: {type: 'enum'}")
                %label.control-label {{enum.name}}
                .controls
                  %select.select-mini(ng-model="enum.value" ng-options="x for x in enum.range" ng-change="device.update(enum)")