!!!
%html(ng-app="Obelix" lang="en")
  %head
    %meta(charset="utf-8")
    %title Obelix
    = stylesheet_link_tag "app.css"
    = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
    = javascript_include_tag "app.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
  %body(ng-controller="MainCtrl")
    %script(type="text/ng-template" id="directory_template")
      .icon(ng-click="directory.toggle()")
      %label(ng-click="directory.toggle()") 
        {{directory.name}}
      %ul.devices(ng-show="directory.expanded")
        %li.device(ng-repeat="device in directory.devices")
          %label(draggable) {{device.name}}
      %ul.subdirectories(ng-show="directory.expanded")
        %li.subdirectory(ng-class="{expanded:directory.expanded}" ng-repeat="directory in directory.subdirectories" ng-include="'directory_template'")
    #sidebar(ng-class="{expanded: sidebarExpanded}")
      .content(ng-include="'directory_template'")
      .toggle(ng-click="sidebarExpanded = !sidebarExpanded; $event.stopPropagation()")
    #canvas(ng-click="sidebarExpanded = false" droppable)